flows.json
[
  {
    "id":"b4759c97.02caa8",
    "type":"tab",
    "label":"Flow 1",
    "disabled":true,
    "info":""
  },
  {
    "id":"8e1c27b4.502268",
    "type":"ui_text_input",
    "z":"b4759c97.02caa8",
    "name":"",
    "label":"website",
    "tooltip":"",
    "group":"20cea4d6.92a86c",
    "order":0,
    "width":0,
    "height":0,
    "passthru":true,
    "mode":"text",
    "delay":300,
    "topic":"",
    "x":100,
    "y":120,
    "wires":[["7fed7577.19fb84"]]
  },
  {
    "id":"7fed7577.19fb84",
    "type":"ui_button",
    "z":"b4759c97.02caa8",
    "name":"",
    "group":"20cea4d6.92a86c",
    "order":0,
    "width":0,
    "height":0,
    "passthru":false,
    "label":"button",
    "tooltip":"",
    "color":"",
    "bgcolor":"",
    "icon":"",
    "payload":"",
    "payloadType":"str",
    "topic":"",
    "x":500,
    "y":160,
    "wires":[[]]
  },
  {
    "id":"2327eaa9.5cdd8e",
    "type":"inject",
    "z":"b4759c97.02caa8",
    "name":"",
    "topic":"",
    "payload":"",
    "payloadType":"date",
    "repeat":"",
    "crontab":"",
    "once":false,
    "onceDelay":0.1,
    "x":140,
    "y":260,
    "wires":[["fbc3d359.6a0dd"]]
  },
  {
    "id":"2ab5f283.360ae6",
    "type":"inject",
    "z":"b4759c97.02caa8",
    "name":"",
    "topic":"Hey",
    "payload":"",
    "payloadType":"str",
    "repeat":"",
    "crontab":"",
    "once":false,
    "onceDelay":0.1,
    "x":130,
    "y":380,
    "wires":[["fbc3d359.6a0dd"]]
  },
  {
    "id":"fbc3d359.6a0dd",
    "type":"debug",
    "z":"b4759c97.02caa8",
    "name":"",
    "active":true,
    "tosidebar":true,
    "console":false,
    "tostatus":false,
    "complete":"payload",
    "targetType":"msg",
    "x":520,
    "y":300,
    "wires":[]
  },
  {
    "id":"20cea4d6.92a86c",
    "type":"ui_group",
    "z":"",
    "name":"Default",
    "tab":"a260817e.30a14",
    "order":1,
    "disp":true,
    "width":"6",
    "collapse":false
  },
  {
    "id":"a260817e.30a14",
    "type":"ui_tab",
    "z":"",
    "name":"Customer Care",
    "icon":"dashboard",
    "disabled":false,
    "hidden":false
  }
]
